@{
    Layout="Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row jumbotron">
        <h1>Find and Replace</h1>
    </div>

    <div class="row">

        <h2>Your new sentence is:</h2>
        <h3>@Model</h3>

    </div>

</div>
