@{
    Layout="Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row jumbotron">
        <h1>Find and Replace</h1>
    </div>

    <div class="row">
        <h1>Your sentence contains your word @Model.CountRepeats() time(s)</h1>

        <h2>Your sentence was:</h2>
        <h3>@Model.GetSentence()</h3>

        <h2>Your word was:</h2>
        <h3>@Model.GetWord()</h3>

    </div>

</div>
